/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: rgb(255, 255, 255);
  color: rgb(63, 61, 64);
  font: 16px Helvetica, Arial, sans-serif;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a,
a:visited {
  color: rgb(125, 122, 127);
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  -ms-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
  text-decoration: none;
}

a:hover {
  color: rgb(188, 183, 191);
}

/* standard */
pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

ul, ol {
  margin-left: 1.35em;
}

code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

pre code {
  border: none;
}

/* terminal */
pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

pre.terminal code {
  background-color: #333;
}

.site {
  max-width: 666px;
  margin: 0 auto;
}
