:root {
  var-main-color: rgb(25, 25, 25);
  var-sub-color: rgb(100, 100, 100);
  var-background-color: rgb(255, 255, 255);
  var-anchor-color: var(sub-color);
  var-anchor-hover-color: rgb(155, 155, 155);
  var-code-text-color: rgb(225, 225, 225);
  var-code-background-color: rgb(100, 100, 100);
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px; /* set root em */
}

html, body {
  height: 100%;
}

body {
  background-color: var(background-color);
  color: var(main-color);
  font: 1rem Helvetica, Arial, sans-serif;
  text-align: left;
}

h1 {
  font-size: 3.2rem;
  padding: 12px 0;
}

h2 {
  font-size: 2.8rem;
  padding: 10px 0;
}

h3 {
  font-size: 2.5rem;
  padding: 8px 0;
}

h4 {
  font-size: 2.2rem;
  padding: 6px 0;
}

h5 {
  font-size: 1.8rem;
  padding: 4px 0;
}

h6 {
  font-size: 1.6rem;
  padding: 3px 0;
}

span, p, li, code, pre, li span {
  font-size: 1.4rem;
}

blockquote {
  font-size: 1.6rem;
}

p {
  margin: 10px 0;
}

a,
a:visited {
  color: var(anchor-color);
  text-decoration: none;
}

a:hover {
  color: var(anchor-hover-color);
  transition: color 0.333s ease-in;
}

/* standard */
pre, code {
  color: var(code-text-color);
  background-color: var(code-background-color);
  padding: 0.8rem 0.4rem;
  border-radius: 4px;
}

code {
  padding: 0.2rem 0.4rem;
  font-size: 1.2rem;
}

ul, ol {
  margin-left: 1.35rem;
}

/* terminal */
pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

pre.terminal code {
  background-color: #333;
}

/* DEFAULT LAYOUT STYLES */

.site {
  margin: 0 auto;
  width: 100%;
}

.row {
  max-width: 666px; margin: 0 auto;
}

.header {
  background-color: var(sub-color);
  padding: 10px 0;
  margin-bottom: 14px;
}

.title {
  font-size: 22px;
  text-transform: lowercase;
  display: inline-block;
  color: var(background-color);
  margin: 0;
}

.header a {
  color: var(background-color);
}

.header a:hover {
  color: var(anchor-hover-color);
  transition: color 0.333s ease-in;
}

.nav {
  list-style: none;
  display: inline-block;
  margin-left: 2rem;
}

.nav-item {
  padding: 0 .24rem;
  display: inline-block;
}

.footer {
  padding-top: 0.8rem;
}

.footer p {
  font-size: 1.2rem;
}

/* POST STYLES */

.date {
  font-style: italic;
  font-size: 1.3rem;
}
