body {
  font-family: Helvetica, sans-serif;
  max-width: 666px;
  width: 100%;
  padding: 0 20px;
}

a, a:active, a:visited {
  color: rgba(0, 0, 0, 1);
}

a:hover {
  color: rgba(66, 66, 66, 1);
}

.title a {
  text-decoration: none;
}
