---
title: Home
layout: default
---

<div id="home">
  <div class="intro">
    <img alt='Profile photo of Brett' src='/img/brett_chalupa.jpg' class='profile-photo'>

    <h1>Brett Chalupa</h1>

    <h4>day: software developer,<br>night: comic artist</h4>

    <a href='https://journal.brettchalupa.com/2018/10/25/nina/'>
      Read <em>NINA</em>, my latest sci-fi micro-comic.
    </a>
  </div>

  <div class='section featured-works'>
    <h2>Featured Works</h2>

    <ul class='works-list'>
      {% for work in site.works reversed %}
        {% if work.tags contains 'featured' %}
          {% include work-list-item.html %}
        {% endif %}
      {% endfor %}
    </ul>

    <p class='small'><a href='/works'>All Works</a></p>
  </div>
</div>
