<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Brett Chalupa">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">

    <link rel="shortcut icon" href="/favicon.png" />

    <!-- Pinterest website verification tag -->
    <meta name="p:domain_verify" content="762dc1546d20290fd2b1312a0abf8846"/>

    {% seo %}
  </head>

  <body>
    <div class="container page">
      {% include header.html %}

      <div class="content wrapper">
        {{ content }}
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
