<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Brett Chalupa">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <title>{{ page.title }}</title>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/layout.css">

    <link rel="shortcut icon" href="/favicon.png" />

    {% feed_meta %}
  </head>

  <body>
    <div class="container page">
      <div class="three columns">
        <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        <ul class="nav">
          <li class="nav-item"><a href="/notes/">Notes</a></li>
          <li class="nav-item"><a href="/projects/">Projects</a></li>
          <li class="nav-item"><a href="/talks/">Talks</a></li>
          <li class="nav-item"><a href="/about/">About</a></li>
          <li class="nav-item"><a href="/hire/">Hire</a></li>
        </ul>
      </div>

      <div class="twelve columns offset-by-one">
        {{ content }}
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
