<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Brett Chalupa">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <title>{{ page.title }}</title>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/layout.css">

    <link rel="shortcut icon" href="favicon.png" />

    {% feed_meta %}
  </head>

  <body>
    <div class="container page">
      <div class="twelve columns offset-by-two">
        {{ content }}
      </div>
    </div>
  </body>
</html>
