---
layout: default
---

<div class="work">
  <div class='work__intro {{ page.category | slugify }}'>
    <h1 class='work__title'>{{ page.title }}</h1>

    <div class='work__intro__category-and-period'>
      <span class="category">{{ page.category }}</span>
      /
      <span class="period">{{ page.period }}</span>
    </div>
  </div>

  {{ content }}

  {% comment %}
  Find and loop through the entries of the work if there is an
  associated collection, a set `collection_label`. This is useful for
  display the chapters of a novel, stories of a collection, or episodes
  of a show.
  {% endcomment %}
  {% if page.collection_label %}
    {% assign collection = site.collections | where: "label", page.collection_label | first %}

    {% comment %}
    Outputs title of associated collection kind, e.g. Stories,
    Chapters, Episodes, etc.
    {% endcomment %}
    {% if page.collection_kind %}
      <h2>{{ page.collection_kind }}</h2>
    {% endif %}

    <ul>
      {% for item in collection.docs %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% comment %}
  Render additional links for the work
  {% endcomment %}
  {% if page.additional_links.size > 0 %}
    <hr>

    <h2>Additional Details</h2>

    <ul>
      {% for link in page.additional_links %}
        <li><a href='{{ link.url }} '>{{ link.title }}</a>
      {% endfor %}
    </ul>
  {% endif %}
</div>

<div class='post-nav'>
  {% if page.next.url %}
    {% unless page.next.tags contains 'hidden' %}
      <a class="next post-nav-item" href="{{page.next.url}}">
        {{page.next.title}} &raquo;
      </a>
    {% endunless %}
  {% endif %}

  {% if page.previous.url %}
    {% unless page.previous.tags contains 'hidden' %}
      <a class="prev post-nav-item" href="{{page.previous.url}}">
        &laquo; {{page.previous.title}}
      </a>
    {% endunless %}
  {% endif %}
</div>

<div>
  <h2>Support Me</h2>
  <p>If you've enjoyed my work or found it helpful, consider supporting me on my journey.</p>

  <p><a href="https://www.patreon.com/brettchalupa">My Patreon is the best way to support me.</a> There are also <a href="/support">some other options</a>.</p>
</div>
